@model IEnumerable<CarDto>

@{
    ViewData["Title"] = "Kiralanan Araçlar";
}

<h1>Kiralanan Araçlar</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Açıklama</th>
            <th>Model</th>
            <th>Yıl</th>
            <th>Günlük Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Description</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.DailyPrice</td>
            </tr>
        }
    </tbody>
</table>
